.card-box {
  transition: opacity 300ms, transform 300ms;
  transition: all 300ms;
}

/* 显示 */
.card-enter,
.card-appear {
  opacity: 0;
  transform: scale(0.6);
}
.card-enter-active {
  opacity: 1;
  transform: scale(1);
}
/* .card-enter-done {
  opacity: 1;
} */

/* 隐藏 */
.card-exit {
  opacity: 1;
  transform: scale(1);
}
.card-exit-active {
  opacity: 0;
  transform: scale(0.6);
}
.card-exit-done {
  opacity: 0;
  /* 如果在 CSSTransition 组件上添加 unmountOnExit={true} 属性则不需要下面代码 */
  /* 因为会将该组件完全卸载掉(DOM) */
  /* transform: scale(0.6); */
}
